.infoBtn {
padding:5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  background-color: white;
  margin-right:5%;
}

.infoBtn:hover{
padding:5px;
  background-color: #AAA;
}

.programTitle {
  font-size: 1.45em;
  padding-bottom:.4em;
}

.programSubtitle {
  font-weight: bold;
  font-size:1.1em;
}

body {
    background: #f2f2f2;
}

.cell{
  padding: 20px 10px 20px 10px;
  overflow:auto;
  margin:7px 15px;
  background-color:white;
  box-shadow:1px 1px 2px 2px #0004;
  border-radius:4px;
}

.sd{
  font-size:1.1em;
}

.phone {
  padding:.5em 0;
}

/*.cell:hover {
    background-color: #fefefe;
}*/

.img-thumbnail:hover{
  background-color: #ebaa2d;
}


.navbar-default {
  background-color: #1c2e4a;
  border-color: #34538a;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ebaa2d;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ebaa2d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ebaa2d;
  background-color: #34538a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ebaa2d;
  background-color: #34538a;
}
.navbar-default .navbar-toggle {
  border-color: #34538a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #34538a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ebaa2d;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ebaa2d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ebaa2d;
    background-color: #34538a;
  }
}

  .navbar-default .navbar-toggle{
    float:left;
    margin-left: 10px;
  }