.infoBtn {
padding:5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  background-color: white;
  margin-right:5%;
}

.infoBtn:hover{
padding:5px;
  background-color: #AAA;
}

.programTitle {
  font-size: 1.4em;
}

.programSubtitle {
  font-weight: bold;
  font-size:1.1em;
}

body {
    background: #fff;
}

.cell{
    width:100%;
    padding: 10px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    overflow:auto;

}

.cell:hover {
    background-color: #bcd4ec;
}

.navbar-default {
  background-color: #3f51b5;
  border-color: #303f9f;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #c5cae9;
}
.navbar-default .navbar-text {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #c5cae9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #c5cae9;
  background-color: #303f9f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #c5cae9;
  background-color: #303f9f;
}
.navbar-default .navbar-toggle {
  border-color: #303f9f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #303f9f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: white;
}
.navbar-default .navbar-link {
  color: white;
}
.navbar-default .navbar-link:hover {
  color: #c5cae9;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #dfe9f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c5cae9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c5cae9;
    background-color: #303f9f;
  }

  .navbar-default .navbar-toggle{
    float:left;
    margin-left: 10px;
  }